body{
	margin: 0;
	padding: 0;
	font-family: "helvetica";
}

.plomo{
	background: #D6D6D6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.plomo span{
	color: #717070;
	font-size: 17px;
}

.plomo a{
	margin: 0 25px;
	height: 35px;
}

.plomo a:first-of-type {
	margin-left: 10px;
}

.plomo img{
	width: 35px;
}

.plomo a:last-child img{
	width: 75px;
}

.rojo{
	background: #EC1C24;
	padding: 15px 0;
	display: flex;
	justify-content: center;
}

.rojo-content{
	width: 92%;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img{
	width: 70px;
}

.box-header{
	width: 86%;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.cuenta{
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}

.cuenta span{
	font-size: 11px;
}

.cuenta span:first-child{
	font-weight: bold;
}

.cuenta button{
	margin-left: 5px;
	background: #fff;
	color: #EC1C24;
	border: none;
	border-radius: 16px;
	font-size: 10px;
	font-weight: bold;
}

.cuenta span i {
	margin-right: 5px;
}

.box-options{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search{
	width: 85%;
	background: #fff;
	border-radius: 25px;
	display: flex;
	align-items: center;
	padding: 10px 15px;
}

.search input{
	width: 98%;
	border: none;
	font-size: 20px;
}

.search input:focus {
	outline: none;
}

.search i{
	color: #EC1C24;
	font-size: 20px;
}

.options {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.options a:first-child{
	margin-left: 30px; 
}

.options i{
	color: #fff;
	font-size: 18px;
}

.box-menu{
	background: #EC1C24;
	border-top: 0.2px solid #fff;
	display: flex;
	justify-content: center;
}

.box-menu-content{
	padding: 15px 0;
	width: 92%;
	color: #fff;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.box-menu-content span:hover{
	cursor: pointer;
}

.box-menu-content a{
	text-decoration: none;
	color: #fff;
	display: flex;
	flex-flow: column; 
}

.box-menu-content a::after {
  content: '';
  border-bottom: solid 1px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.box-menu-content a:hover::after { transform: scaleX(1); }

.box-menu-content i{
	margin-left: 10px;
}